<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <title>@ViewData["Title"] - MiniAppHakaton</title>
    <link rel="stylesheet" href="~/dist/css/app.css" />
</head>
<body>
            @RenderBody()
    <script src="~/dist/js/app.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
