
@{
    ViewData["Title"] = "Маршрут на карте";
}
 
<h1>@ViewData["Title"]</h1>
<div id="map"></div>
@section Scripts{
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=f8732bc7-6ffa-445d-a447-abc4f837cdac" type="text/javascript"></script>
    <script src="~/src/js/routeBuilder.js" type="text/javascript"></script>
}